<%= form_for(@business) do |f| %>
	<% if @business.errors.any? %>
	<div id="errorExplanation">
	  <h2><%= pluralize(@business.errors.count, "error") %> prohibited this post from being saved:</h2>
	  <ul>
	  <% @business.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	  </ul>
	</div>
	<% end %>

	<table>
		<tr><td><%=f.label :name%></td><td><%= f.text_field :name %></td></tr>
		<tr><td><%=f.label :address1%></td><td><%= f.text_field :address1 %></td></tr>
		<tr><td><%=f.label :venue_type%></td><td><%= f.text_field :venue_type %></td></tr>
	  <tr><td><%=f.label :province%></td><td><%= f.text_field :province %></td></tr>
	  <tr><td><%=f.label :postal_code%></td><td><%= f.text_field :postal_code %></td></tr>
	  <tr><td><%=f.label :country%></td><td><%= f.text_field :country %></td></tr>
	  <tr><td><%=f.label :phone_no%></td><td><%= f.text_field :phone_no %></td></tr>
		<tr><td><%=f.label :dna_neighbourhood%></td><td><%= f.text_field :dna_neighbourhood %></td></tr>
		<tr><td><%=f.label :dna_atmosphere%></td><td><%= f.text_field :dna_atmosphere %></td></tr>
		<tr><td><%=f.label :dna_pricepoint%></td><td><%= f.text_field :dna_pricepoint %></td></tr>
		<tr><td><%=f.label :dna_category%></td><td><%= f.text_field :dna_category %></td></tr>
		<tr><td><%=f.label :dna_dresscode %></td><td><%= f.text_field :dna_dresscode %></td></tr>
		<tr><td><%=f.label :dna_review %></td><td><%= f.text_area :dna_review %></td></tr>
		<tr><td><%=f.label :dna_excerpt %></td><td><%= f.text_area :dna_excerpt %></td></tr>		
	</table>
	<%= f.submit %>
<% end %>