<h1> Venues index </h1>
<%= link_to "Add a new venue/business", new_business_path %>
<table width="100%">
	<tr>
		<td>Name</td>
		<td>Address</td>
		<td>Pricepoint</td>
      	<td>Neighbourhood</td>
		<td>Category</td>
        <td>Has Excerpt</td>
        <td>Deleted</td>
	</tr>

<% @businesses.each do |b| %>
	<tr>
	  <td><%= b.name %></td>
	  <td><%= b.address1 %></td>
	  <td><%= b.dna_pricepoint %></td>
      <td><%= b.neighbourhoods.collect {|hood| hood.neighbourhood}.join(',') %></td>
	  <td><%= b.categories.collect {|cat| cat.name}.join(',') %></td>
      <td><%= (b.dna_excerpt.nil? || b.dna_excerpt.size == 0) ? 'no':'yes' %></td>
      <td><%= b.deleted %></td>
	  <td><%= link_to "Edit", edit_business_path(b) %>
	  <%= link_to "Show", business_path(b) %></td>
	</tr>
<% end %>
</table>
<%= will_paginate @businesses %>