<div id="di_venue_header">
	<div class="venue">
	  <%= image_tag business_photo(@business), :width => 50, :height => 50 %>
	</div>
  <h1 class="venue"><%= link_to @business.name, @business.url %></h1>
</div>

<div id="venue_page_top_section">
	<div id="di_venue_map">
		 <%= gmaps({"markers" => {"data" => @markers, "custom_infowindow_class" => "yellow"}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 15, "draggable" => true, "detect_location" => false}}) %>
	</div>
	<div id="di_venue_buttons">
		<div id="back_button">
		<%= link_to "Back to results", :back, :class => "function_buttons" %>
		</div>
		<ul>
			<li id="add">
				<%= render :partial => 'shared/add_buttons', :locals => {:business => @business} %>
			</li>
			<li id="print"><%= link_to 'Print', print_datecart_path(@datecart), :class => 'function_buttons', :rel => 'external' %></li>
			<li id="clear"><%= link_to 'Share', '#', :class => 'function_buttons', :method => :delete, :remote => true %></li>
		</ul>
	</div>
</div>

<hr/>

<div id="di_venue_info" class="di_module_large">
	<div class="di_module_container">
		<div style="width:50%; float: left">
			<!-- TODO: put this into display_business_hours method -->
			<table>
				<tr>
					<th>hours</th>
					<td><%= display_business_hours(@business) %></td>
				</tr>
			</table>
		</div>
		<!-- there is no business url -->
		<div id="url" style="float:left"></div>
		<table>
			<tr>
				<th>price point</th>
				<th>dress code</th>
				<th>reservations</th>
				<th>group date friendly</th>
				<th>kid friendly</th>
			</tr>
			<tr>
				<td><%= @business.dna_pricepoint %></td>
				<td><%= @business.dna_dresscode %></td>
				<td><%= @business.takes_reservations %></td>
				<td><%= @business.group_date_friendly %></td>
				<td><%= @business.kids_friendly %></td>
			</tr>
		</table>
	</div>
   
</div>

<hr/>

<%= display_dateideas_tips %>

<%= display_dateideas_reviews %>

<%= content_for :sidebar_right do %>
		<%= render @datecart %>
		<div id="plan_button">
			<%= link_to content_tag(:span, "Plan New Date"), new_datecart_path, :id => "plan_date_button_small" %>
		</div>
<% end %>
