<%= link_to "Back to results",:back %>
<h2><%= @business.name %></h2>
<div id="di_venue_photo">
  <%= image_tag @business.photo_url %>
</div>
<% content_for :sidebar_map do %>
<div id="di_venue_map">
 <%= gmaps({"markers" => {"data" => @markers}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 15}}) %>
</div>
<% end %>


<div id="di_venue_excerpt">
  <%= raw (!@business.dna_excerpt.nil? && !@business.has_yelp_data.nil? ) ? "<h3>About</h3>".concat(@business.dna_excerpt) : "" %>
</div>

<div id="di_venue_info">
    <table>
      <tr>
        <td>Price Point</td><td><%= @business.dna_pricepoint %></td>
        <td>Dress Code</td><td><%= @business.dna_dresscode %></td>
      </tr><tr>
        <td>Reservations</td><td><%= @business.takes_reservations %></td>
        <td>Hours</td><td><%=  raw ((@business.hours.nil?) ? "":@business.hours.join("<br/>")) %></td>
      </tr><tr>
        <td>Group date friendly</td><td><%= @business.group_date_friendly %></td>
        <td>Kid friendly</td><td><%= @business.kids_friendly %></td>
      </tr>
    </table>
</div>

<div id="di_reviews">
    <%= image_tag ("/images/reviews_from_yelp.gif") %>
    <%= raw display_reviews(@business) %>
</div>
