<% if datecart_cart_item.business_id #If we're dealing with a business%>

    <% @business = Business.find(datecart_cart_item.business_id) %>
    <div id="business_<%= @business.id %>" class="business_item">
      <h6 class="business_title">
        <%= link_to @business.name, business_path(@business) %>
      </h6>
      <div class="business_location">
        <%= generate_unordered_list [@business.address1, @business.city,  number_to_phone(@business.phone_no)] %>
      </div>
    </div>

<% else #If we're dealing with an event %>
		<% # if statement can go here with @event being nil 
			 # handle this for now by testing for nil events 
			%>
			
    <% @event = Event.find(datecart_cart_item.event_id) %>
		<% unless @event.blank? %>
	    <div id="event_<%= @event.id %>" class="business_item">
	      <h6 class="business_title">
	        <%= link_to @event.title, @event.url %>
	      </h6>
	      <div class="business_location">
	        <%= generate_unordered_list [@event.venue_address,  @event.city_name] %>
	      </div>
	    </div>
		<% end %>
<% end %>