<% size = ParamFile.new.datecart_action_icon_size %>
<ul class="datecart_actions">
  <% unless datecart.cart_items.blank? %>
      <li><%= link_to "Cal", calendar_datecart_path(datecart), :remote => true, :class => "dashboard_action_buttons" %></li>
  <% else %>
      <li><%= link_to "Edit", edit_datecart_path(datecart), :remote => true, :class => "dashboard_action_buttons" %></li>
  <% end %>
  <li><%= link_to "Email", email_datecart_path(datecart), :class => "dashboard_action_buttons" %></li>
  <li><%= link_to "Print", print_datecart_path(datecart), :rel => 'external', :class => "dashboard_action_buttons" %></li>
</ul>

<div id="datecart_<%= datecart.id %>_calendar_dialog" class="dialog"></div>
<div id="di_edit_dialog" class="dialog">Dialog</div>
