<% # Main view of the dashboard  %>
<div id="upcoming_panel" class="di_module_large">
	<%= generate_ribbon_header :h3, "upcoming", 13 %>

	  <% if @upcoming_datecarts.blank? %>
			<div class="di_module_container">
	      <p>No upcoming dates planned.</p>
				<%# skip this because there is already a huge plan new date button %>
	      <%#= link_to "+ Add Something New", wizard_index_path, :class => "datecart_buttons center", :remote => true %>
	      <div id="di_add_to_date" class="dialog"></div>
			</div>
	  <% else %>
		      <%= render :partial => "dashboard/datecart", :collection => @upcoming_datecarts %>
	  <% end %>
</div>

<div id="past_panel" class="di_module_large">
		<%= generate_ribbon_header :h3, "Your Past Dates", 13 %>
  <% if @past_datecart.blank? %>
		<div class="di_module_container">
			<p> No past dates </p>
		</div>
  <% else %>
      <%= render :partial => "dashboard/datecart", :locals => {:datecart => @past_datecart} %>
  <% end %>
</div>

<%= content_for :sidebar_right do %>
	<div id="sig_dates">
		<%= link_to content_tag(:span, "Plan New Date"), new_datecart_path, :id => "plan_date_button" %>
	</div>

	<%# Don't show significant dates because its not implemented yet %>
	<%# render 'dashboard/significant_dates/sig_dates' %>
<% end %>