<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<table>
		<tbody>
			<tr>
				<td><%= f.text_field :city, :value=>"Toronto" %></td>
				<td>Your default location</td>
			</tr>
			<tr>
				<td><%= f.text_field :relationship_status, :value=>"Relationship Status" %></td>
				<td></td>
			</tr>
			<tr>
				<td><%= f.text_field :sig_other_name, :value=>"Name of significant other" %></td>
				<td></td>
			</tr>
			<tr>
				<!-- use date picker here? -->
				<td><%= f.date_select :anniversary, :include_blank => true %></td>
			</tr>
			<tr>
				<td><%= f.text_field :about_me, :value =>"Bio" %></td>
				<td></td>
			</tr>
		</tbody>
	</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
