<p id="notice"><%= notice %></p>
<h1> My Profile </h1>
<p>
	<%= image_tag avatar_url(current_user) %>
</p>
<p>
	<b>User:</b>
	<%= current_user.email %>
</p>
<p>
  <b>Anniversary:</b>
  <%= @profile.anniversary %>
</p>

<p>
  <b>About me:</b>
  <%= @profile.about_me %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %>
