<div id="profile">
	<% @user = @profile.user %>
	<% title @user.first_name + "'s profile" %>
	<p id="notice"><%= notice %></p>

	<div id="profile_header">
		<div id="pic">
			<%= image_tag avatar_url(@user) %>
		</div>
		<div id="info">
			<h1> <%= @user.first_name %> <%= @user.last_name %> </h1>
			<!-- Don't publically display email or anniversary for privacy reasons -->
			<%= display_private_profile_info(@user)%>
		</div>
	</div>

	<hr/>

	<div id="about" class="di_module_large">
		<%= generate_ribbon_header(:h3, :about, 13) %>
		<div class="di_module_container">
		  <%= @profile.about_me %>
		</div>
	</div>

	<hr/>

	<div id="dates_planned" class="di_module_large">
		<%= generate_ribbon_header(:h3, "Dates Planned", 13) %>
		<div id="number" class="di_module_container subcontainer">
			<!-- TODO: get number of dates planned -->
			<h1>TODO: get number of dates</h1>
		</div>
		<div class="di_module_container subcontainer">
			<!-- TODO: get last date  -->
			<h1> TODO: Get last date </h1>
		</div>
	</div>

	<%= content_for :sidebar_right do %>
		<% if current_user?(@user) %>
				<%= render :partial => 'date_plans', :locals => {:user => @user} %>
		<% end %>
	<% end %>

	<%# Don't show social stuff yet %>
	<%# link_to 'Edit Profile', edit_profile_path %>
	<%# unless current_user?(@user) %>
		<%# render 'users/follow_form' %>
	<%# end %>
	<%# render 'shared/follower_stats' %>
</div>

