<% @user = @profile.user %>

<% title @user.first_name + "'s public profile" %>

<p id="notice"><%= notice %></p>
<h1> <%= @user.first_name %>'s public profile</h1>

<p><%= image_tag avatar_url(@user) %></p>

<p>
	<b>Email:</b>
	<%= @user.email %>
</p>

<p>
  <b>Anniversary:</b>
  <%= @profile.anniversary %>
</p>

<p>
  <b>About <%= @profile.user.first_name %>:</b>
  <%= @profile.about_me %>
</p>

<p><%= link_to 'Edit Profile', edit_profile_path %></p>

<% unless current_user?(@user) %>
	<%= render 'users/follow_form' %>
<% end %>

<%= render 'shared/follower_stats' %>

<% if current_user?(@user) %>
	<%= render :partial => 'date_plans', :locals => {:user => @user} %>
	<%= link_to "Plan a Date!", wizard_index_path, :class => "add_button" %>
<% end %>

