<%# this is the view that we will be rendered to modify user account settings once we allow user registration %>
<!-- <h2><%# resource_name.to_s.humanize %> Settings</h2> -->
<div id="account_registration_settings" class="di_module_medium">
	<h4>Change Password</h4>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%# devise_error_messages! %>
		<table>
				<tbody>
					<!-- Important: must validate presence of and correctness of email -->
					<!-- <tr>
										<td><%# f.label :email %></td>
										<td><%# f.text_field :email %></td>
								</tr> -->
	  			<tr>
						<td><%= f.label :password, "New Password" %> </td>
	  				<td><%= f.password_field :password %></td>
					</tr>
	  			<tr>
						<td><%= f.label :password_confirmation %></td>
						<td><%= f.password_field :password_confirmation %></td>
					</tr>
	  			<tr>
						<td><%= f.label :current_password %></td>
						<td><%= f.password_field :current_password %></td>
					</tr>
				</tbody>
			</table>
	  	<div class="actions">
				<%= f.submit "Update" %>
			</div>
	<% end %>
</div>

<div id="cancel_account" class="di_module_medium">
	<h4>Cancel Account</h4>
	<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
</div>
<%= link_to "Back", :back %>

