<ul id="di_datecart_functions">
	<li id="clear"><%= link_to 'Clear', clear_cart_datecart_path(@datecart), :class => 'function_buttons', :method => :delete, :remote => true %></li>
	<li id="save"><%= link_to 'Save', begin_complete_datecart_path(@datecart), :class => 'function_buttons', :remote => true%></li>
	<li id="print"><%= link_to 'Print View', print_datecart_path(@datecart), :class => 'function_buttons', :rel => 'external' %></li>
	<li id="email"><%= link_to 'Email',  email_datecart_path(@datecart), :class => 'function_buttons' %></li>
    <li id="calendar"><%= link_to "Add to Calendar", calendar_datecart_path(@datecart), :class => "function_buttons", :remote => true %></li>
	 <!--<li id="edit"><%# link_to 'Edit', edit_datecart_path(@datecart), :class => 'function_buttons', :remote => true %></li> -->
</ul>