<ul id="di_datecart_functions">
	<li id="clear"><%= link_to 'Clear', clear_cart_datecart_path(@datecart), :method => :delete, :remote => true %></li>
	<li id="save"><%= link_to 'Save', complete_datecart_path(@datecart), :method => :put %></li>
	<li id="print"><%= link_to 'Print View', print_datecart_path(@datecart), :rel => 'external' %></li> 
	<li id="email"><%= link_to 'Email', email_datecart_path(@datecart) %></li>
	<li id="edit"><%= link_to 'Edit', edit_datecart_path(@datecart), :remote => true %></li>
</ul>