<style>
	.pin-cart {
		position: fixed;
		top: 10px;
		width: 220px;
	}
</style>

<fieldset id="di_cart_front">
	<!-- <p id="notice"><%= notice %></p> -->
	<h2>Your Date</h2>
	<ul><%= render @datecart.cart_items %></ul>
	<ul id="di_datecart_functions">
		<li>
			<%= form_tag '/datecarts/complete', :method => :put do %>
				<%= submit_tag('save') %>
			<% end %>
		</li>
		<li><%= link_to 'Print', print_datecart_path(@datecart) %></li> 
		<li><%= link_to 'Email', email_datecart_path(@datecart) %></li>
		<li><%= link_to 'Edit', edit_datecart_path(@datecart) %></li>
	</ul>
</fieldset>