<%# View of the cart shown at the front page %>
<% today = Time.now.strftime('%A %B %d, %Y') %>
<div id="di_datecart" class="di_module">
  <div id="di_new_date" class="dialog"></div>
  <div id="di_add_to_date" class="dialog"></div>
  <div id="di_edit_dialog" class="dialog">Dialog</div>

  <h6>
    <span id="date_title" class="floater">My Date Ideas</span>
    <span class="icon"><%= image_tag 'datecart_pencil_icon.png' %></span>
  </h6>

  <div id="di_cart_front" class="di_module_section">
    <fieldset id="datecart_items" class="datecart">
      <%= render :partial => 'datecarts/datecart_items' %>
    </fieldset>
  </div>
  <h6>
    <input type="hidden" id="alt_show_date" class="nofloat" value="<%= today %>"/>
    <span id="date_display" class="date_display">
			<% if @datecart.datetime.blank? %>
				<%= today %>
			<% else %>
				<%= format_datetime @datecart.datetime %>
			<% end %>
		</span>
  </h6>

  <div>
    <div id="date_notes" class="editable"> 
			<% if @datecart.notes.blank? %>
				My date notes:
			<% else %>
				<%= @datecart.notes %>
			<% end %>
		</div>
    <fieldset id="functions" class="datecart">
      <%= render :partial => 'datecarts/datecart_functions' %>
    </fieldset>
    <div id="di_cart_status">
      <% if @datecart.user_id %>
          Date plan has been saved.
      <% else %>
          Date plan has not been saved.
      <% end %>
    </div>
    <hr/>
    <p><%# link_to "Plan New Date", new_datecart_path, :class => "datecart_buttons", :remote => true %></p>
  </div>
</div>