<script type="text/javascript"><%= render :partial => "form_javascript_validations.js.erb" %></script>
<%= generate_ribbon_header :h3, :"Confirm Details", 7 %>
<%= form_for(@datecart, :url => "/datecarts/#{@datecart.id}/complete", :id => "update_date_form") do |f| %>
	<table>
    <%= render :partial => "common_form_elements", :locals => {:form => f} %>

    <tr class="actions">
			<td></td>
      <td><%= f.submit "Save" %></td>
    </tr>
	</table>
<% end %>

