<%# Full display of the cart %>
<p id="notice"><%= flash[:notice] %></p>
<%= generate_ribbon_header :h3, @datecart.name, 13 %>
<%= render :partial => "shared/datecart", :locals => {:datecart => @datecart} %>

<%= link_to edit_datecart_path(@datecart), :remote => true, :class => "function_buttons" do %>
    <span>Edit date plan</span>
<% end %>

<!-- dialog boxes -->
<div id="di_edit_dialog" class="dialog">Dialog</div>
<div id="datecart_save_dialog" class="dialog"></div>
<div id="datecart_<%= @datecart.id %>_calendar_dialog" class="dialog">Calendar Dialog</div>
<div id="di_add_to_date" class="dialog">Dialog</div>