<%# Full display of the cart %>
<p id="notice"><%= flash[:notice] %></p>
<div id="di_edit_dialog" class="dialog">Dialog</div>
<div id="di_calendar_dialog" class="dialog">Calendar Dialog</div>
<fieldset id="cart">
	<%= render :partial => 'datecarts/date_info' %>
	<div id="datecart_items">
		<%= render :partial => 'datecarts/datecart_items', :locals => {:venue => params['venue']} %>
	</div>
	<%= render :partial => 'datecarts/datecart_functions' %>
</fieldset>

<%= link_to "Start Planning!", wizard_index_path, :class => "add_button" %>