<div class="di_users">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
  	<legend>Enter User Details</legend>
	  <div class="field">
	    <%= f.label :first_name %><br />
	    <%= f.text_field :first_name %>
	  </div>
	
		<div class="field">
	    <%= f.label :last_name %><br />
	    <%= f.text_field :last_name %>
	  </div>
	
		<div class="field">
	    <%= f.label :username %><br />
	    <%= f.text_field :username %>
	  </div>
	
		<div class="field">
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  </div>
	
		<div class="field">
	    <%= f.label :birthday %><br />
	    <%= f.date_select :birthday, :start_year => 1950, :end_year => 1998 %>
	  </div>
	
	  <div class="field">
	    <%= f.label :password %><br />
	    <%= f.text_field :password, :size => 40 %>
	  </div>

	  <div class="field">
	    <%= f.label :password_confirmation %><br />
	    <%= f.text_field :password_confirmation, :size => 40 %>
	  </div>

	  <div class="actions">
	    <%= f.submit %>
	  </div>
  </fieldset>
<% end %>
</div>

