<%# This is just a placeholder until we allow user registration. Then we let Devise handle the user account operations %>
<div id="user_settings" class="di_module_large">
	<p><%= notice %></p>
	<%= generate_ribbon_header(:h3, :"User Account Settings", 13) %>
	<%= render 'form' %>
	<%= link_to "Back", :back %>
</div>

<%= content_for :sidebar_right do %>
	<!-- Not yet implemented so don't show -->
	<!-- <div id="notifications" class="di_module_medium">
		<h4> Notification Preferences </h4>
	</div> -->
	<%# This view is just a place holder as passwords is handled by devise registration controller %>
	<%# render :template => 'devise/passwords/edit', :locals => { :resource => current_user, :resource_name => "user"} %>
	<%# render the view below once registrations is enabled %>
	<%= render :template => 'devise/registrations/edit', :locals => { :resource => current_user, :resource_name => "user"} %>
<% end %>