<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @user.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastName %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
