<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
	<p>You are signed in as <%= current_user.email %></p>
<% else %>
	<p> You are not signed in</p>
<% end %>

<p>First name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Birthday: <%= @user.birthday %></p>
<p>Postal Code: <%= @user.postal_code %></p>
<p>Gender: <%= @user.gender %></p>
