<div class="di_event">
	<h3 class="di_biz_name event_title_small"><%= link_to event.title, event.url %></h3>
	<div class="di_biz_photo"><%= image_tag(image_url('event', event.photo_url), :height=>'60', :width=>'60') %></div>
	<div class="di_event_info">
		<p id="event_venue_name"><%= event.venue_name %></p>
		<p id='event_time'><%= display_time(event.start_time, event.end_time) %></p>
		<p id='event_address'><%= event.venue_address %></p>
	</div>
</div>
<hr/>
