<h3 class="di_biz_name"><%= link_to business.name, business_path(business) %></h3>
<div class="di_biz_info">
	<div class="di_biz_photo"><%= image_tag(business.photo_url, :height => 128, :width => 128) %></div>
	<div class="di_biz_desc">
		<p><%=  raw (!business.review.nil?) ? display_review(business) : business.dna_excerpt %></p>
		<p><%= display_address(business) %></p>
	</div>
</div>
<div class="attribution yelp-badge">
	<%= link_to "http://www.yelp.com" do %>
		<img src="/images/yelp_logo_50x25.png"> 
	<% end %>
</div>