<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<table>
  	<tr>
				<td><%= f.label :email %></td>
				<td><%= f.text_field :email %></td>
		</tr>
	  <tr>
				<td><%= f.label :password %></td>
	  		<td><%= f.password_field :password %></td>
		</tr>
		<tr>
				<td></td>
				<td>
				  <% if devise_mapping.rememberable? -%>
				    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
				  <% end -%>
				</td>
		</tr>
		<tr>
				<td></td>
				<td>
					<%= f.submit "Sign in" %>
				</td>
		</tr>
		<tr>
				<td></td>
				<td>
					<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
					  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
					<% end -%>
				</td>
		</tr>
	</table>
<% end %>