<h1>Listing cart_items</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Cart</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cart_items.each do |cart_item| %>
  <tr>
    <td><%= cart_item.business_id %></td>
    <td><%= cart_item.datecart_id %></td>
    <td><%= link_to 'Show', cart_item %></td>
    <td><%= link_to 'Edit', edit_cart_item_path(cart_item) %></td>
    <td><%= link_to 'Destroy', cart_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cart item', new_cart_item_path %>
