<fieldset id="di_filter_front">
	<h4 class="filter_header">Let's get specific:</h4>
	<%= form_tag '/wizard/search', :method => :get do %>
		<%= hidden_field_tag(:location, @wizard.location) %>
		<ul id='filter_options'>
			<li><%= select_tag(:neighbourhood, options_for_select(@neighbourhoods.collect { |hood| [hood.neighbourhood]}, @wizard.neighbourhood), :onchange => "this.form.submit();") %></li>
			<li><%= select_tag(:venue, options_for_select(Wizard::VENUES,@wizard.venue), :onchange => "this.form.submit();")%></li>
			<li><%= select_tag(:price_point, options_for_select(Wizard::PRICE_POINTS), :onchange => "this.form.submit();") %></li>
		</ul>
	<% end %>
</fieldset>