<%= stylesheet_link_tag("wizard.css") %>
<!--
<%= stylesheet_link_tag("http://jqueryui.com/demos/demos.css") %>
-->

<h1>Find the perfect date spot.</h1>
<!-- 
<style>
	#feedback { font-size: 1.4em; }
	#selectable .ui-selecting { background: #FECA40; }
	#selectable .ui-selected { background: #F39814; color: white; }
	#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#selectable li { margin: 3px; padding: 0.4em; font-size: 1em; height: 18px; }
	#location .ui-selecting { background: #FECA40; }
	#location .ui-selected { background: #F39814; color: white; }
	#location { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#location li { margin: 3px; padding: 0.4em; font-size: 1em; height: 18px; }
	#price_point .ui-selecting { background: #FECA40; }
	#price_point .ui-selected { background: #F39814; color: white; }
	#price_point { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#price_point li { margin: 3px; padding: 0.4em; font-size: 1em; height: 18px; }
</style>
<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
</script>
<script>
	$(function() {
		$( "#selectable" ).selectable();
		$( "#location" ).selectable();
		$( "#price_point" ).selectable();
	});
</script>
-->


<%= form_for :wizard, @wizard do |f| %>

<!--
<div class="demo">

<div id="accordion">
	<h3><a href="#" class="menu"><span>1</span> What do you want to do?</a></h3>
        <div>
            <ol id="selectable">
              <%# Wizard::VENUES.each do |venue| %>
	        <li class="ui-widget-content"><%# link_to(venue[0],"#",:class => "menu")  %></li>
              <%# end %>
            </ol>
        </div>
	<h3><a href="#" class="menu"><span>2</span> What area do you want to go to?</a></h3>
	<div>
            <ol id="location">
              <%# Wizard::LOCATIONS.each do |location| %>
	        <li class="ui-widget-content"><%# location[0]  %></li>
              <%# end %>
            </ol>
	</div>
	<h3><a href="#" class="menu"><span>3</span> What is your price point?</a></h3>
	<div>
            <ol id="price_point">
              <%# Wizard::PRICE_POINTS.each do |price_point| %>
	        <li class="ui-widget-content"><%# price_point[0]  %></li>
              <%# end %>
            </ol>
	</div>
</div>

</div>

<div class="demo-description" style="display: none; ">
<p>
Click headers to expand/collapse content that is broken into logical sections, much like tabs.
Optionally, toggle sections open/closed on mouseover.
</p>
<p>
The underlying HTML markup is a series of headers (H3 tags) and content divs so the content is
usable without JavaScript.
</p>
</div>
-->
<table>
  <tr>
    <td>
      <%= f.label(:venue,"1. What do you want to do?") %>
    </td><td>
      <%= f.select(:venue,Wizard::VENUES)%>
    </td>
  </tr>
  <tr>
    <td>
        <%= f.label(:location,"2. What area do you want to go to?") %>
    </td><td>
        <%= f.select(:location,Wizard::LOCATIONS) %>
    </td>
  </tr>
  <tr>
    <td>
        <%= f.label(:price_point,"3. What is your price point") %>
    </td><td>
        <%= f.select(:price_point,Wizard::PRICE_POINTS) %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left">
      <%= f.submit("Search")  %>
    </td>
  </tr>
</table>
<% end %>
