<%= stylesheet_link_tag("wizard.css") %>
<div class="container">
<div class="content">
<h1>Wizard</h1>


<%= form_for :wizard, @wizard do |f| %>
<table>
  <tr>
    <td>
      <%= f.label(:venue,"1. What do you want to do?") %>
    </td><td>
      <%= f.select(:venue,Wizard::VENUES)%>
    </td>
  </tr>
  <tr>
    <td>
        <%= f.label(:location,"2. What area do you want to go to?") %>
    </td><td>
        <%= f.select(:location,Wizard::LOCATIONS) %>
    </td>
  </tr>
  <tr>
    <td>
        <%= f.label(:pricePoint,"3. What is your price point") %>
    </td><td>
        <%= f.select(:pricePoint,Wizard::PRICE_POINTS) %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="left">
      <%= f.submit("Search")  %>
    </td>
  </tr>
</table>
<% end %>
    </div>
    </div>
