<% session['venue_type'] = params['venue'] %>
<%= stylesheet_link_tag("wizard.css") %>

<div id="datecart_save_dialog" class="dialog"></div>
<div id="datecart_<%= @datecart.id %>_calendar_dialog" class="dialog"></div>

<%= title("Search - Venues") %>

<%= content_for :sidebar_map do %>
	<%# Design decision: No map with results (for now)%>
<% end %>

<%= content_for :sidebar_filters do %>
  <%= render :partial => "breadcrumb", :locals => {:location_text => nil} %>
	<%= render "filter" %>
<% end %>

<%= content_for :sidebar_cart do %>
	<%= render @datecart %>
<% end %>

<% @cart_items = @datecart.cart_items %>
<div id="main_results">
	<%= render :partial => 'business_results', :locals => {:cart_items => @cart_items} %>
</div>

<%= content_for :main_related do %>
	<div id="di_related_info">
		<h3>Related Events</h3>
	  <%= render :partial => 'event_results' %>
		<p><%= link_to "See more at eventful.com >>", eventful_url("Toronto", params['venue'], "Next+7+Days","Popularity") %></p>
	</div>
<% end %>

<div id="ajax_paginate">
	<%= will_paginate @wizard.businesses %>
</div>
