<% session['venue_type'] = params['venue'] %>
<%= stylesheet_link_tag("wizard.css") %>

<%= title("Search") %>

<% content_for :sidebar_map do %>
	<%# Design decision: No map with results (for now)%>
<% end %>

<% content_for :sidebar_filters do %>
	<%= render 'breadcrumb' %>
  <%= render "filter" %>
<% end %>

<% content_for :sidebar_cart do %>
	<%= render @datecart %>
<% end %>

<% @cart_items = @datecart.cart_items %>

<h2> 
	Results for 
	<span class='dynamic_text'><%= get_display_text(params['venue']) %></span> 
</h2>
<hr/>
<div id="main_results">
	<%= render :partial => 'business_results', :locals => {:cart_items => @cart_items} %>
</div>

<% content_for :main_related do %>
	<h3>Related Events</h3>
	<div id="di_related_info">
    <% if ( !@wizard.events.nil? ) %>
			<% @wizard.events.each do |event| %>
				<div class="di_event">
					<%= render :partial => 'shared/event_item', :locals => {:event => event, :title_size => 'event_title_small', :size => 100} %>
					<div class="di_event_add">
						<%= render :partial => 'shared/add_event_buttons', :locals => {:event => event, :cart_items => @cart_items} %>
					</div>
				</div>
			<% end %>
    <% end %>
		<p><%= link_to "See more at eventful.com >>", eventful_url("Toronto", params['venue'], "Next+7+Days","Popularity") %></p>
	</div>
<% end %>

<div id="pagination">
	<%= will_paginate @wizard.businesses %>
</div>
