<% session['venue_type'] = params['venue'] %>

<%= stylesheet_link_tag("wizard.css") %>

<%= title("Search") %>

<% content_for :sidebar_filters do %>
	<fieldset id="di_filters">
			<%= render 'breadcrumb' %>
      <%= render "filter" %>
	</fieldset>
<% end %>

<% content_for :sidebar_cart do %>
	<div id="di_datecart">
		<%= render @datecart %>
	</div>
<% end %>

<h2>Results for <span class='dynamic_text'><%= get_display_text(params['venue']) %></span></h2>

<% @cart_items = @datecart.cart_items %>
<div id="main_results">
	<%= render :partial => 'event_results' %>
</div>

<div id="pagination">
	<%= will_paginate @wizard.events %>
</div>
