<% session['venue_type'] = params['venue'] %>
<%= stylesheet_link_tag("wizard.css") %>
<style>
	.pin-map {
		position: fixed;
		top: 10px;
		width: 270px;
	}
</style>

<%= title("Search") %>

<% content_for :sidebar_map do %>
	<div id="di_map">
		<!-- maps -->
		<div id="map" style="width: 270px; height: 270px"></div>
		<%# raw display_main_map_info(@wizard.businesses) %>
	</div>
<% end %>

<% content_for :sidebar_filters do %>
	<fieldset id="di_filters">TODO: Filters goes here</fieldset>
<% end %>

<% content_for :sidebar_cart do %>
	<div id="di_datecart">
		<%# Categorizing items: instead of rendering the datecart here, call the helper method %>
		<%= render @datecart %>
	</div>
<% end %>

<% @cart_items = @datecart.cart_items %>

<% @wizard.events.each do |event| %>
	<div class="di_biz">
		<%= render :partial => 'shared/event_item', :locals => {:event => event} %>
	</div>   
<% end %>

<% @wizard.businesses.each do |business| %>
	<div class="di_biz">
		<%= render :partial => 'shared/venue_item', :locals => {:business => business} %>
		<div class="di_biz_add">
			<%= render :partial => 'shared/add_buttons', :locals => {:business => business, :cart_items => @cart_items} %>
		</div>
	</div>
<% end %>

<hr/>

<%= will_paginate @wizard.businesses %>

