<%= stylesheet_link_tag("wizard.css") %>
<div class="container">
<div class="content">


<table>
  <!-- main list -->
  <tr>
    <td>
      <div class="di_main_biz">
      <table>
        <tr>
          <td colspan="10" align="center">
            <%= image_tag(@wizard.restaurant.photo_url) %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("whole_heart.png", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("half_heart.png", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("unlock.png", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
        </tr>
      </table>
      </div>
    </td>
    <td>
      <div class="di_main_biz">
      <table>
        <tr>
          <td colspan="10" align="center">
            <%= image_tag(@wizard.activity.photo_url) %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("unlock.png", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
        </tr>
      </table>
      </div>
    </td>
    <td>
      <div class="di_main_biz">
      <table>
        <tr>
          <td colspan="10" align="center" style="align:center">
            <%= image_tag(@wizard.dessert.photo_url) %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("unlock.png", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
        </tr>
      </table>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
    <!-- business list -->
    <table>
    <% @wizard.businesses.each do |business| %>
      <tr>
        <td>
          <div class="di_biz">
          <table>
            <tr>
              <td colspan="2">
                <div class="di_biz_name">
                    <%= business.name %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
              <table>
                <tr>
                  <td rowspan="2" valign="top" align="left">
                    <div class="di_biz_photo">
                        <%= image_tag(business.photo_url) %>
                    </div>
                  </td>
                  <td valign="top">
                    <div class="di_biz_desc">
                      <table>
                        <tr>
                          <td colspan="2">
                            <%= business.text_excerpt %><%= image_tag(business.rating_img_url) %>
                            <%= link_to("Read full reviews","#?w=880",:class=>"poplight",:rel=>business.id) %>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td valign="bottom">
                    <div class="di_biz_yelp_reviews">
                      <%= image_tag("reviews_from_yelp.gif") %>
                      <div class="di_biz_yelp_user_view">
                        <%= business.reviews.first.text_excerpt %><%= image_tag(business.reviews.first.rating_img_url) %>
                        <%= link_to("Read Yelp Review", "#?w=880", :class=>"poplight", :rel=>String.new(business.id).concat("-yreviews")) %>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="di_biz_addr">
                     <%= display_address(business) %>
                 </div>
              </td>
            </tr>
          </table>
          </div>
        </td>
      </tr>
    <% end %>
    </table>
    </td>
    </tr>
  </table>
<!-- end of business list -->
</div>
</div>
<!-- each business popup -->
<% @wizard.businesses.each do |business| %>
    <%= content_tag(:div,:id=>business.id, :class=>"popup_block") do %>
        <table>
          <tr>
            <td>
                <%= business.name %>
            </td>
          </tr>
          <tr>
            <td>
             <%= image_tag(business.photo_url) %>
            </td>
          </tr>
          <tr>
            <td>
              <%= business.text_excerpt %>
            </td>
          </tr>
          <tr>
            <td>
              <%= display_address(business) %>
            </td>
          </tr>

        </table>
    <% end %>
<% end %>
<!-- each yelp reviews -->
<% @wizard.businesses.each do |business| %>
    <%= content_tag(:div,:id=>String.new(business.id).concat("-yreviews"), :class=>"popup_block") do %>
        <table>
          <tr>
            <td>
                <%= business.name %>
            </td>
          </tr>
          <tr>
            <td>
             <%= image_tag(business.photo_url) %>
            </td>
          </tr>
          <tr>
            <td>
              <%= business.text_excerpt %>
            </td>
          </tr>
          <tr>
            <td>
              <%= display_address(business) %>
            </td>
          </tr>
          <% business.reviews.each do |review| %>
            <tr>
              <td>
                <div class="di_biz_yelp_reviews">
                    <%= review.text_excerpt %><%= image_tag(review.rating_img_url) %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
    <% end %>
<% end %>
