<%= stylesheet_link_tag("wizard.css") %>

<% content_for :sidebar_cart do %>
	<div id="di_datecart">
		<%= render @datecart %>
	</div>
<% end %>

<% content_for :sidebar_map do %>
	<div id="di_map">
		<script type="text/javascript"> 
			$(document).ready(function(){
					$('#map').jMapping({metadata_options: {type: 'html5'}, link_selector: false, always_show_markers: true });
				});
		</script>
		<div id="map" style="width: 270px; height: 270px"></div>
		<%# Don't display the top three venue links ... %>
		<%# raw display_main_map_info(@wizard.businesses) %>
	</div>
<% end %>

<!-- <hr/> -->
<!-- venue results listing -->

<% y 'datecart items' %>
<% @cart_items = @datecart.cart_items %>
<% y @cart_items %>
<% y 'end datecart items' %>

<% @wizard.businesses.each do |business| %>
	<div class="di_biz">
		<h3 class="di_biz_name"><%= business.name %></h3>
		<div class="di_biz_info">
			<div class="di_biz_photo"><%= image_tag(business.photo_url) %></div>
			<div class="di_biz_desc">
				<p><%= business.dna_excerpt %></p>
				<p><%= display_address(business) %></p>
				<p>
					<%= link_to("Read full reviews", "#?w=880", :class => "poplight", :rel => business.id) %>
					<% @cart_item = @cart_items.find(:first, :conditions => ["business_id = :b", {:b => business.id }]) %>
					<span id="add_to_date_<%= business.id %>">
						<% if @cart_item.nil? %>
							<%= render :partial => 'add', :locals => {:business => business} %>
						<% else %>
							<%= render :partial => 'remove', :locals => {:business => business} %>
						<% end %>
					</span>
				</p>
			</div>
		</div>
	</div>
<% end %>

<!-- end of venue results list -->

<hr/>

<!-- each business popup -->
<% @wizard.businesses.each do |business| %>
    <%= content_tag(:div, :id=>business.id, :class=>"popup_block") do %>
        <table>
          <tr>
            <td colspan="2"><%= business.name %></td>
          </tr>
          <tr>
            <td><%= image_tag(business.photo_url) %></td>
            <td>        
				<div>
					<%= content_tag(:div,:id=>String.new("map").concat(business.id), :style=>"width: 350px; height: 400px")  do %>
					<% end %>
					<%= raw display_map_info(business) %>
				</div>           
            </td>
          </tr>
          <tr>
            <td colspan="2"><%= business.text_excerpt %></td>
          </tr>
          <tr>
            <td colspan="2"><%= display_address(business) %></td>
          </tr>
        </table>
    <% end %>
<% end %>
<%= will_paginate @wizard.businesses %>
<!-- end of each business popup -->

<% content_for :sidebar_right do %>
	<!-- Nothing here yet -->
	TODO: Filters goes here
<% end %>
