<% session['venue_type'] = params['venue'] %>
<%= stylesheet_link_tag("wizard.css") %>

<%= title("Search") %>

<% content_for :sidebar_map do %>
	<div id="di_map">
		<!-- maps -->
		<div id="map" style="width: 270px; height: 270px"></div>
		<%# raw display_main_map_info(@wizard.businesses) %>
	</div>
<% end %>

<% content_for :sidebar_filters do %>
	<fieldset id="di_filters">TODO: Filters goes here</fieldset>
<% end %>

<% content_for :sidebar_cart do %>
	<div id="di_datecart">
		<%= render @datecart %>
	</div>
<% end %>

<% content_for :sidebar_info do %>
	<div id="di_related_info">
		<%# Event api calls are handled by the Evenfulapi gem %>
		<% @wizard.events.each do |event| %>
			<%= render :partial => 'shared/event_item', :locals => {:event => event, :event_id => event.event_id} %>
			<p> TODO Add/remove button </p>
		<% end %>
		
		<div class="attribution">
			<div class="eventful-badge eventful-small">
			  <img src="http://api.eventful.com/images/powered/eventful_58x20.gif"
			    alt="Local Events, Concerts, Tickets">
			  <p><a href="http://eventful.com/">Events</a> by Eventful</p>
			</div>
		</div>
		<p>TODO see more at eventful </p>
	</div>
<% end %>

<% @cart_items = @datecart.cart_items %>

<% @wizard.businesses.each do |business| %>
	<div class="di_biz">
		<%= render :partial => 'shared/venue_item', :locals => {:business => business} %>

		<div class="di_biz_add">
			<%= render :partial => 'shared/add_buttons', :locals => {:business => business, :cart_items => @cart_items} %>
		</div>
	</div>
<% end %>
<hr/>
<%= will_paginate @wizard.businesses %>

