<%= stylesheet_link_tag("wizard.css") %>
<% content_for :sidebar_left do %>
	<div>
		<script type="text/javascript"> 
			$(document).ready(function(){
				$('#map').jMapping({metadata_options: {type: 'html5'}});
			});
		</script>
		<div id="map" style="width: 300px; height: 300px"></div> 
		<%= raw display_main_map_info(@wizard.businesses) %>
	</div>
<% end %>

<div id="di_results_main">
	<div class="di_main_biz">				    
		<div class="di_biz_photo"><%= image_tag(@wizard.restaurant.photo_url) %></div>
			<ul class="ratings">
				<li><%= image_tag("unlock.png", :height => '16', :width => '16') %></li>
				<li><%= image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %></li>
				<li><%= image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %></li>
			</ul>
		</div>
		<div class="di_main_biz">
			<div class="di_biz_photo"><%= image_tag(@wizard.activity.photo_url) %></div>
			<ul class="ratings">
				<li><%= image_tag("unlock.png", :height => '16', :width => '16') %></li>
				<li><%= image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %></li>
				<li><%= image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %></li>
			</ul>
		</div>
		<div class="di_main_biz">
			<div class="di_biz_photo"><%= image_tag(@wizard.dessert.photo_url) %></div>
			<ul class="ratings">
				<li><%= image_tag("unlock.png", :height => '16', :width => '16') %></li>
				<li><%= image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %></li>
				<li><%= image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %></li>
			</ul>
		</div>
	</div>	
	<hr/>
	<!-- business list -->
	<% @wizard.businesses.each do |business| %>
		<div class="di_biz">
			<h3 class="di_biz_name"><%= business.name %></h3>
			<div class="di_biz_info">
			<div class="di_biz_photo"><%= image_tag(business.photo_url) %></div>
				<div class="di_biz_desc">
					<p><%= business.text_excerpt %><%= link_to("Read full reviews","#?w=880",:class=>"poplight",:rel=>business.id) %></p>
					<p><%= display_address(business) %></p>
				</div>
			</div>
			<ul class="ratings">
				<li><%= image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %></li>
				<li><%= image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %></li>
				<li><%= image_tag("unlock.png", :height => '16', :width => '16') %></li>
			</ul>
			<hr class="di_biz_hr"/>
			<div class="di_biz_yelp_reviews">
				<%= image_tag("reviews_from_yelp.gif") %>
				<p class="di_biz_yelp_user_view">
					<%= business.reviews.first.text_excerpt %><%= image_tag(business.reviews.first.rating_img_url) %>
					<%= link_to("Read Yelp Review", "#?w=880", :class=>"poplight", :rel=>String.new(business.id).concat("-yreviews")) %>
				</p>
			</div>
		</div>
	<% end %><!-- end of business list -->
<!-- </div> -->
<hr/>

<!-- each business popup -->
<% @wizard.businesses.each do |business| %>
    <%= content_tag(:div,:id=>business.id, :class=>"popup_block") do %>
        <table>
          <tr>
            <td colspan="2"><%= business.name %></td>
          </tr>
          <tr>
            <td><%= image_tag(business.photo_url) %></td>
            <td>        
				<div>
					<%= content_tag(:div,:id=>String.new("map").concat(business.id), :style=>"width: 350px; height: 400px")  do %>
					<% end %>
					<%= raw display_map_info(business) %>
				</div>           
            </td>
          </tr>
          <tr>
            <td colspan="2"><%= business.text_excerpt %></td>
          </tr>
          <tr>
            <td colspan="2"><%= display_address(business) %></td>
          </tr>
        </table>
    <% end %>
<% end %>
<!-- end of each business popup -->
<!-- each yelp reviews -->
<% @wizard.businesses.each do |business| %>
    <%= content_tag(:div,:id=>String.new(business.id).concat("-yreviews"), :class=>"popup_block") do %>
        <table>
          <tr>
            <td><%= business.name %></td>
          </tr>
          <tr>
            <td><%= image_tag(business.photo_url) %></td>
          </tr>
          <tr>
            <td><%= business.text_excerpt %></td>
          </tr>
          <tr>
            <td><%= display_address(business) %></td>
          </tr>
          <% business.reviews.each do |review| %>
            <tr>
              <td>
                <div class="di_biz_yelp_reviews">
                    <%= review.text_excerpt %><%= image_tag(review.rating_img_url) %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
    <% end %>
<% end %>
<% content_for :sidebar_right do %>
right sidebar
<% end %>
