<%= stylesheet_link_tag("wizard.css") %>
<div class="container">
<div class="content">


<table>
  <!-- main list -->
  <tr>
    <td>
      <div class="di_main_biz">
      <table>
        <tr>
          <td colspan="10">
            <%= image_tag(@wizard.restaurant.photo_url) %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("unlock.png", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
        </tr>
      </table>
      </div>
    </td>
    <td>
      <div class="di_main_biz">
      <table>
        <tr>
          <td colspan="10">
            <%= image_tag(@wizard.activity.photo_url) %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("unlock.png", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
        </tr>
      </table>
      </div>
    </td>
    <td>
      <div class="di_main_biz">
      <table>
        <tr>
          <td colspan="10">
            <%= image_tag(@wizard.dessert.photo_url) %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("unlock.png", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
          <td>
            <div class="di_main_biz_icon_image">
              <%= image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %>
            </div>
          </td>
        </tr>
      </table>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
    <!-- business list -->
    <table>
    <% @wizard.businesses.each do |business| %>
      <tr>
        <td>
          <div class="di_biz">
          <table>
            <tr>
              <td colspan="2">
                <div class="di_biz_name">
                    <%= business.name %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
              <table>
                <tr>
                  <th rowspan="2">
                    <div class="di_biz_photo">
                        <%= image_tag(business.photo_url) %>
                    </div>
                  </th>
                  <td valign="top">
                    <div class="di_biz_desc">
                        <%= business.text_excerpt %>
                        <a href="#?w=880" rel="popup2" class="poplight">Read full reviews</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td valign="bottom">
                    <div class="di_biz_yelp_reviews">
                      <div class="di_biz_yelp_user_view">
                        <%= business.reviews.first.text_excerpt %>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="di_biz_addr">
                     <%= display_address(business) %>
                 </div>
              </td>
            </tr>
          </table>
          </div>
        </td>
      </tr>
    <% end %>
    </table>
    </td>
    </tr>
  </table>
<!-- end of business list -->
</div>
</div>
<!-- each business popup -->
<div id="popup2" class="popup_block">
    <h2>Popup #3</h2>
    <pre>&lt;a href=&quot;#?w=350&quot; rel=&quot;popup3&quot; class=&quot;poplight&quot;&gt;</pre>
    <p>Aliquip transverbero loquor esse ille vulputate exerci veniam fatua eros similis illum valde. Praesent, venio conventio rusticus antehabeo lenis. Melior pertineo feugait, praesent hos rusticus et haero facilisis abluo. </p>
    <p>Veniam tincidunt augue abluo vero, augue nisl melior quidem secundum nobis singularis eum eum.</p><p><strong>Need Inspiration?</strong> Check out <a href="http://www.designbombs.com">Design Bombs</a></p>
</div>