<!DOCTYPE html>
<html>
<head>
  <title>DateIdeas.ca - <%= yield(:title) ||  "Home" %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "di.css" %>
  <!-- %= javascript_include_tag :defaults % -->
  <%= csrf_meta_tag %>
  <!-- %= javascript_include_tag "http://maps.google.com/maps?file=api&v=3.3&sensor=true&key=ABQIAAAAPykA5RAR6EyCOpLSM2i1ixRNc1IYPKVGk-SIdG4lEdSAsvBTlRSSkM-qzMzVi4YWslSu0OGheV6nJg" % -->
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.3&sensor=false" %>
  <%= stylesheet_link_tag    "http://jqueryui.com/themes/base/jquery.ui.all.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js","jquery.rails.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js" %>
  <%= javascript_include_tag "http://jqueryui.com/ui/jquery.ui.core.js" %>
  <%= javascript_include_tag "http://jqueryui.com/ui/jquery.ui.widget.js" %>
  <%= javascript_include_tag "http://jqueryui.com/ui/jquery.ui.mouse.js" %>
  <%= javascript_include_tag "http://jqueryui.com/ui/jquery.ui.selectable.js" %>
  <%= javascript_include_tag "http://jqueryui.com/ui/jquery.ui.accordion.js" %>
  <!-- jquery lightbox plugin -->
  <%= stylesheet_link_tag    "jquery.lightbox-0.5.css" %>
  <%= javascript_include_tag "jquery.lightbox-0.5.js" %>
  <%= javascript_include_tag "lightbox.js"%>
  <!-- jquery google maps plugin -->
  <%= javascript_include_tag "markermanager.js" %>
  <%= javascript_include_tag "StyledMarker.js" %>
  <%= javascript_include_tag "jquery.metadata.js" %>
  <%= javascript_include_tag "jquery.jmapping.js" %>
  
</head>
	<body>
		<div id="container">
			<div id="user_nav" style="float:right">
				<% if user_signed_in? %>
					Welcome <%= current_user.email %>.
					<%= link_to "Sign out", destroy_user_session_path %>
					<%= link_to "Profile", profile_path(current_user.id) %>
					<%= link_to 'Edit Profile', edit_profile_path %>
				<% else %>
					<%= link_to "Sign in", new_user_session_path %> or 
					<%= link_to "Sign up", new_user_registration_path %>
				<% end %>
			</div>
		
	  	<p class="notice">Notices: <%= notice %></p>
		  <p class="alert">Alerts: <%= alert %></p>
		
			<%= yield %>
		</div>
	</body>
</html>
