<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
  <title>DateIdeas.ca - <%= yield(:title) ||  "Home" %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "di.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "http://jqueryui.com/themes/base/jquery.ui.all.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js","jquery.rails.js" %>
  <%= javascript_include_tag "http://jqueryui.com/ui/jquery.ui.core.js" %>
  <%= javascript_include_tag "http://jqueryui.com/ui/jquery.ui.widget.js" %>
  <%= javascript_include_tag "http://jqueryui.com/ui/jquery.ui.mouse.js" %>
  <%= javascript_include_tag "http://jqueryui.com/ui/jquery.ui.selectable.js" %>
  <%= javascript_include_tag "http://jqueryui.com/ui/jquery.ui.accordion.js" %>
  <script type="text/javascript">
  $(document).ready(function(){

      //When you click on a link with class of poplight and the href starts with a #
      $('a.poplight[href^=#]').click(function() {
          var popID = $(this).attr('rel'); //Get Popup Name
          var popURL = $(this).attr('href'); //Get Popup href to define size

          //Pull Query & Variables from href URL
          var query= popURL.split('?');
          var dim= query[1].split('&');
          var popWidth = dim[0].split('=')[1]; //Gets the first query string value

          //Fade in the Popup and add close button
          $('#' + popID).fadeIn().css({ 'width': Number( popWidth ) }).prepend('<a href="#" class="close"><img src="/images/close_pop.jpeg" class="btn_close" title="Close Window" alt="Close" width="16px" height="16"/></a>');

          //Define margin for center alignment (vertical + horizontal) - we add 80 to the height/width to accomodate for the padding + border width defined in the css
          var popMargTop = ($('#' + popID).height() + 100) / 2;
          var popMargLeft = ($('#' + popID).width() + 50) / 2;

          //Apply Margin to Popup
          $('#' + popID).css({
              'margin-top' : -popMargTop,
              'margin-left' : -popMargLeft
          });

          //Fade in Background
          $('body').append('<div id="fade"></div>'); //Add the fade layer to bottom of the body tag.
          $('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn(); //Fade in the fade layer

          return false;
      });


      //Close Popups and Fade Layer
      $('a.close, #fade').live('click', function() { //When clicking on the close or fade layer...
            $('#fade , .popup_block').fadeOut(function() {
              $('#fade, a.close').remove();
      }); //fade them both out

          return false;
      });


  });
  </script>
</head>
<body>
	<div id="container">
		<div id="user_nav">
			<% if user_signed_in? %>
				Welcome <%= current_user.email %>.
				<%= link_to "Sign out", destroy_user_session_path %> 
				<%= link_to "Profile", profile_path(current_user.id)%>
			<% else %>
				<%= link_to "Sign in", new_user_session_path %> or 
				<%= link_to "Sign up", new_user_registration_path %>
			<% end %>
	<head>
	  <title>DateIdeas.ca - <%= yield(:title) ||  "Home" %></title>
	  <%= stylesheet_link_tag :all %>
	  <%#javascript_include_tag :defaults %>
	  <%= csrf_meta_tag %>
	  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js","jquery.rails.js" %>
		<%= javascript_include_tag "lightbox.js" %>
	</head>
	<body>
		<div id="container">
			<div id="user_nav" style="float:right">
				<% if user_signed_in? %>
					Welcome <%= current_user.email %>.
					<%= link_to "Sign out", destroy_user_session_path %>
					<%= link_to "Profile", profile_path(current_user.id) %>
					<%= link_to 'Edit Profile', edit_profile_path %>
				<% else %>
					<%= link_to "Sign in", new_user_session_path %> or 
					<%= link_to "Sign up", new_user_registration_path %>
				<% end %>
			</div>
		
	  	<p class="notice">Notices: <%= notice %></p>
		  <p class="alert">Alerts: <%= alert %></p>
		
			<%= yield %>
		</div>
	</body>
</html>
