<!DOCTYPE html>
<html>
<head>
  <title>DateIdeas.ca - <%= yield(:title) ||  "Home" %></title>
	
	<%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'compiled/print.css', :media => 'print' %>
	<!--[if lt IE 8]> <%= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' %> <![endif]-->
	

  <%#stylesheet_link_tag :all %>
  <%# stylesheet_link_tag "di.css" %>
  <!-- %= javascript_include_tag :defaults % -->
  <%= csrf_meta_tag %>
  <!-- %= javascript_include_tag "http://maps.google.com/maps?file=api&v=3.3&sensor=true&key=ABQIAAAAPykA5RAR6EyCOpLSM2i1ixRNc1IYPKVGk-SIdG4lEdSAsvBTlRSSkM-qzMzVi4YWslSu0OGheV6nJg" % -->
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.3&sensor=false" %>
  <%= stylesheet_link_tag    "jquery.ui.all.css" %>
  <%= javascript_include_tag "jquery.min.js","jquery.rails.js" %>
  <%= javascript_include_tag "jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery.ui.core.js" %>
  <%= javascript_include_tag "jquery.ui.widget.js" %>
  <%= javascript_include_tag "jquery.ui.mouse.js" %>
  <%= javascript_include_tag "jquery.ui.selectable.js" %>
  <%= javascript_include_tag "jquery.ui.accordion.js" %>
  <!-- jquery lightbox plugin -->
  <%= stylesheet_link_tag    "jquery.lightbox-0.5.css" %>
    <%= javascript_include_tag "jquery.lightbox-0.5.js" %>
    <%= javascript_include_tag "lightbox.js"%> -->
  <!-- jquery google maps plugin -->
  <%= javascript_include_tag "markermanager.js" %>
  <%= javascript_include_tag "StyledMarker.js" %>
  <%= javascript_include_tag "jquery.metadata.js" %> 
  <%= javascript_include_tag "jquery.jmapping.js" %> 
  
</head>
<body>
	<div class="container">			
		<div id="header" class="span-30 last">
			<p class="notice">Notices: <%= notice %></p>
			<div id="user_nav" class="span-30 last">
			<%= render 'shared/navigation' %>
			</div>
			<h1 id="logo"><%=image_tag "logo_beta.png"%></h1>
		</div>
		<hr/>
		<div id="content" class="span-30 last">
			<div id="sidebar_left" class="span-8">
			<%= yield :sidebar_left %>
			</div>
			<div id="main" class="span-14">
			<%= yield %>
			</div>
			<div id="sidebar_right" class="span-8 last">
			<%= yield :sidebar_right %>
			</div>
		</div>
		<hr/>
		<div id="footer" class="span-30 last">
		© 2010 Date Ideas
		</div>

	</div>
</body>
</html>
