<!DOCTYPE html>
<html>
	<head>
	  <title>DateIdeas.ca - <%= yield(:title) ||  "Home" %></title>
	  <%= stylesheet_link_tag :all %>
	  <%#javascript_include_tag :defaults %>
	  <%= csrf_meta_tag %>
	  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js","jquery.rails.js" %>
		<%= javascript_include_tag "lightbox.js" %>
	</head>
	<body>
		<div id="container">
			<div id="user_nav" style="float:right">
				<% if user_signed_in? %>
					Welcome <%= current_user.email %>.
					<%= link_to "Sign out", destroy_user_session_path %>
					<%= link_to "Profile", profile_path(current_user.id) %>
					<%= link_to 'Edit Profile', edit_profile_path %>
				<% else %>
					<%= link_to "Sign in", new_user_session_path %> or 
					<%= link_to "Sign up", new_user_registration_path %>
				<% end %>
			</div>
		
	  	<p class="notice">Notices: <%= notice %></p>
		  <p class="alert">Alerts: <%= alert %></p>
		
			<%= yield %>
		</div>
	</body>
</html>
