<!DOCTYPE html>
<html>
<head>
  <title>DateIdeas.ca | <%= content_for?(:title) ? content_for(:title) : 'Make it a great Date.' %></title>
  <%= yield :head %>

  <%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'compiled/print.css', :media => 'print' %>
  <!--[if lt IE 8]> <%= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' %> <![endif]-->

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    "jquery.ui.all.css" %>
  <%= javascript_include_tag "jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery.ui.core.js" %>
  <%= javascript_include_tag "jquery.ui.widget.js" %>
  <%= javascript_include_tag "jquery.ui.mouse.js" %>
  <%= javascript_include_tag "jquery.ui.selectable.js" %>
  <%= javascript_include_tag "jquery.ui.accordion.js" %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>
	<%= javascript_include_tag "jquery.jeditable.mini.js" %>
	<!-- dateideas custom js -->
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "dateideas.js" %>
	
  <%= yield :scripts %>
</head>
<body>
	<div id="header">
		<div class="container">
			<div id="user_nav" class="span-20 last">
				<%= render 'shared/navigation' %>
			</div>
			<%= yield :header %>
		</div>
	</div>
	
	<div class="container">
		<div id="content" class="span-24 last">
			<%= content_for?(:content) ? yield(:content) : yield %>
		</div>
		<hr/>
		<%= render 'shared/footer' %>
	</div>
	<div id="di_registrations" class="dialog"></div>
</body>
</html>
