<% content_for :header do %>
<div id="logo">
	<%= link_to root_path do %> 
		<%=image_tag "logo_beta.png"%>
	<% end %>
</div>
<% end %>

<% content_for :content do %>
	<div id="sidebar_left" class="span-7">
		<div id="sidebar_left_content" class="span-5">
			<div id="sidebar_left_pinned">
				<%# yield :sidebar_map %>
				<%= yield :sidebar_filters %>
			</div>
		</div>
	</div>
	<div id="main" class="span-10">
		<h2>Results for <span class='dynamic_text'><%= get_display_text(params['venue']) %></span>
				<span class='filter_loaders ajax-hidden'><%= image_tag 'ajax-loader-medium.gif' %></span>
		</h2>
		<hr/>
		<%= yield %>
		<hr/>
		<%= yield :main_related %>
	</div>
	<div id="sidebar_right" class="span-7 last">
		<div id="sidebar_right_content" class="span-6">
			<div id="sidebar_right_pinned">
				<%= yield :sidebar_cart %>
			</div>
		</div>
	</div>
<% end %>
<%= render :file => 'layouts/application' %>